<header>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <nav>
        <ul>
            <li><i class="fa fa-home"></i> <a href="home.html">Home Page</a></li>
            <li><i class="fa fa-music"></i> <a href="songs.html">Songs</a></li>
            <li><i class="fa fa-ticket"></i> <a href="tours.html">Tours</a></li>
            <li><i class="fa fa-envelope"></i> <a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(function(){
        $('a').each(function(){
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('selected'); $(this).parents('li').addClass('selected');
            }
        });
    });
</script>