<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<header>
    <nav>
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i> <a href="home.html">Home Page</a></li>
            <li><i class="fa fa-music"></i> <a href="songs.html">Songs</a></li>
            <li><i class="fa fa-ticket"></i> <a href="tours.html">Tours</a></li>
            <li><i class="fa fa-envelope"></i> <a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>