body {
    background-color: lightblue;
}
p {
    font-size: 1.5em;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: black;
}
nav a:active, li.selected {
    color: white;
}
#col1, #col2, #col3, #col4 {
    padding-right: 5vw;
    margin-top: 0;
}
#col1 {
    width: 10vw;
    font-size: 2em;
}
#col2 {
    width: 10vw;
}
#col3 {
    width: 40vw;
    font-size: 1em;
}
.song {
    width: 100%;
    display: inline-flex;
    padding-bottom: 10vh;
}
.page-title {
    font-size: 6em;
    color: white;
    text-align: center;
}
#home-img {
    padding-top: 24%;
    width: 23vw;
    background-image: url("../images/imagine-dragons.jpg");
}
.center {
    margin: auto;
    display: block;
    text-align: center;
}
nav {
    text-align: center;
}
nav ul li {
    font-size: 3em;
    display: inline;
}
li + li {
    margin-left: 4em;
}
footer {
    text-align: center;
    padding-top: 2em;
}
.contact {
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
    width: 50vw;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: gray;
}